In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("Mall_Customers.csv")

In [15]:
print("RAW HEAD:")
print(df.head())

RAW HEAD:
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [16]:
print("\nMISSING VALUES:")
print(df.isnull().sum())

MISSING VALUES:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [17]:
print("\nDATA TYPES:")
print(df.dtypes)

DATA TYPES:
CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [18]:
print("\nDUPLICATE ROWS:")
print(df.duplicated().sum())

DUPLICATE ROWS:
0

In [19]:
print("\nUNIQUE VALUES IN GENDER:")
print(df['Gender'].unique())

UNIQUE VALUES IN GENDER:
['Male' 'Female']

In [20]:
print("\nRAW SHAPE:", df.shape)

RAW SHAPE: (200, 5)

In [21]:
df_cleaned = df.drop_duplicates()

In [23]:
df_cleaned.columns = (
    df_cleaned.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [24]:
print("\nCLEANED COLUMN NAMES:", df_cleaned.columns.tolist())

CLEANED COLUMN NAMES: ['customerid', 'gender', 'age', 'annual_income_k$', 'spending_score_1-100']

In [25]:
df_cleaned['gender'] = df_cleaned['gender'].str.strip().str.title()

In [26]:
df_cleaned['customerid'] = df_cleaned['customerid'].astype(int)
df_cleaned['age'] = df_cleaned['age'].astype(int)
df_cleaned['annual_income_k$'] = df_cleaned['annual_income_k$'].astype(int)
df_cleaned['spending_score_1-100'] = df_cleaned['spending_score_1-100'].astype(int)

In [27]:
print("\nCLEANED DATA HEAD:")
print(df_cleaned.head())

print("\nCLEANED DATA TYPES:")
print(df_cleaned.dtypes)

print("\nCLEANED SHAPE:", df_cleaned.shape)

CLEANED DATA HEAD:
   customerid  gender  age  annual_income_k$  spending_score_1-100
0           1    Male   19                15                    39
1           2    Male   21                15                    81
2           3  Female   20                16                     6
3           4  Female   23                16                    77
4           5  Female   31                17                    40

CLEANED DATA TYPES:
customerid               int64
gender                  object
age                      int64
annual_income_k$         int64
spending_score_1-100     int64
dtype: object

CLEANED SHAPE: (200, 5)

In [31]:
df_cleaned = pd.get_dummies(df_cleaned, columns=['gender'], drop_first=True)

In [32]:
print("\nCLEANED DATA HEAD:")
print(df_cleaned.head())

print("\nCLEANED DATA TYPES:")
print(df_cleaned.dtypes)

print("\nCLEANED SHAPE:", df_cleaned.shape)

CLEANED DATA HEAD:
   customerid  age  annual_income_k$  spending_score_1-100  gender_Male
0           1   19                15                    39         True
1           2   21                15                    81         True
2           3   20                16                     6        False
3           4   23                16                    77        False
4           5   31                17                    40        False

CLEANED DATA TYPES:
customerid              int64
age                     int64
annual_income_k$        int64
spending_score_1-100    int64
gender_Male              bool
dtype: object

CLEANED SHAPE: (200, 5)